<div id="comprobante" class="paso">
  <div id="content">

    <h2>Solicitud de entrevista para confirmar el pase</h2>

    <div class="panel panel-default">
      <div class="panel-heading">Liceo seleccionado: </div>
      <div class="panel-body">

        <%- partial ('liceo.ejs') %>

      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">Solicitud de entrevista de confirmación de la inscripción en el liceo seleccionado: </div>
      <div class="panel-body form-horizontal">
        <p class="gris">La solicitud de entrevista se hizo el <%= fechaHoraDelProceso %>.</p>

        <div class="form-group">
          <label class="col-sm-4">Fecha de la entrevista:</label>
          <div class="col-sm-6"><%= fecha %></div>
        </div>
        <div class="form-group">
          <label class="col-sm-4">Hora de la entrevista:</label>
          <div class="col-sm-6"><%= hora %></div>
        </div>
        <div class="form-group">
          <label class="col-sm-4">Alumno:</label>
          <div class="col-sm-6"><%= persona.perNombreCompleto %> (<%= documento %>)</div>
        </div>
        <% if (typeof adulto !== 'undefined') { -%>
        <div class="form-group">
          <label class="col-sm-4">Adulto:</label>
          <div class="col-sm-6">Documento: <%= adulto.documento %>
            <br/>Teléfono: <%= adulto.telefono %></div>
        </div>
        <% } -%>
        <div class="form-group">
          <label class="col-sm-4">Documentación requerida:</label>
          <div class="col-sm-6">
            <ul>
              <li>Cédula de identidad del alumno</li>
              <li>Carné de Salud Adolescente</li>
              <li>Cédula de identidad del adulto</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <button type="button" class="btn btn-primary hidden-print" onClick="window.print()">Imprimir comprobante</button>
  </div>
</div>
