<% function ruee(dependId) {
  var deptoId = Math.floor(dependId/100);
  // paso el depto a la codificación que usa CODICEN
  deptoId = (deptoId<10 ? deptoId+1 : (deptoId>10 ? deptoId : 1));
  // calculo el ruee
  return 1200000 + deptoId*1000 + dependId%100;
} %>

<div class="media">
  <div class="media-left hidden-xs hidden-sm hidden-print">
      <div class="passepartout">
        <img class="media-object img-liceo" data="<%= liceo.DependId %>" alt="<%= liceo.DependDesc %>" height="265">
      </div>
  </div>
  <div class="media-body">
    <ul class="list-group">
      <li class="list-group-item">
        <b>Liceo</b>:
        <div class="bloque">
          <%= liceo.DependDesc %>
          <% if (liceo.DependNom) {%><br><%= liceo.DependNom %><% } %>
        </div>
      </li>
      <li class="list-group-item">
        <b>Dirección:</b>
        <div class="bloque">
          <%= liceo.LugarDireccion %><br>
          <%= liceo.LocNombre %>, <%= liceo.DeptoNombre %>
        </div>
        <a class="mapa hidden-print" target="_blank" href="http://sig.anep.edu.uy/siganep/home?factor=10&ruee=<%= ruee(liceo.DependId) %>"><span class="glyphicon glyphicon-map-marker"></span> Ver mapa</a>
      </li>
      <li class="list-group-item hidden-print">
        <b>Estadísticas:</b>
        <a href="http://www.anep.edu.uy/monitorces/servlet/fichaliceo?L,<%= liceo.DependId %>">Monitor educativo</a>
      </li>
      <% if (liceo.transportes) { %>
      <li class="list-group-item">
        <b>Líneas de transporte:</b>
        <div class="bloque">
          <%= liceo.transportes %>
        </div>
      </li>
      <% } %>
    </ul>
  </div>
</div>
