<div id="paso2" class="paso">
  <div id="content">

    <% if (typeof persona !== 'undefined') { %>
      <h4><%= persona.perNombreCompleto %></h4>
    <% } %>

    <% if (typeof inscripciones !== 'undefined') { %>
    <form method="post" class="form-horizontal" id="frm-paso2" action='paso3'>

      <div class="panel panel-default">
        <div class="panel-heading">Liceo asignado:</div>
        <div class="panel-body">

          <% var liceos = Array() %>
          <% inscripciones.forEach(function(inscripcion){ %>
               <% liceos[inscripcion.DependId.DependId] = {DependId:inscripcion.DependId.DependId, DependDesc:inscripcion.DependId.DependDesc, DependNom:inscripcion.DependId.DependNom} %>
          <% }) %>

          <% liceos.forEach(function(liceo){ %>
              <div class="media">
                <div class="media-left">
                    <div class="passepartout">
                      <img class="media-object img-liceo" data="<%= liceo.DependId %>" alt="<%= liceo.DependDesc %>" height="265">
                    </div>
                </div>
                <div class="media-body">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <h4 class="media-heading"><b>Liceo</b>:
                        <div class="bloque">
                          <%= liceo.DependDesc %>
                          <% if (liceo.DependNom) {%><br><%= liceo.DependNom %><% } %>
                        </div>
                      </h4>
                    </li>
                    <li class="list-group-item">
                      <b>Dirección:</b>
                      <%= direccion.LugarDireccion %>, <%= direccion.LocNombre %>, <%= direccion.DeptoNombre %>
                    </li>
                  </ul>
                  <p style="text-align:center">Detalle de la inscripción:</p>
                  <% inscripciones.forEach(function(inscripcion){ %>
                    <% if (inscripcion.DependId.DependId === liceo.DependId) { %>

                    <ul class="list-group">
                      <li class="list-group-item"><b>Plan:</b> <%= inscripcion.PlanId.PlanNombre %></li>
                      <input type="hidden" name="planId" value="<%= inscripcion.PlanId.PlanId %>">
                      <li class="list-group-item"><b>Ciclo:</b> <%= inscripcion.CicloId.CicloDesc %></li>
                      <input type="hidden" name="cicloId" value="<%= inscripcion.CicloId.CicloId %>">
                      <li class="list-group-item"><b>Grado:</b> <%= inscripcion.GradoId.GradoDesc %></li>
                      <input type="hidden" name="gradoId" value="<%= inscripcion.GradoId.GradoId %>">
                      <% if (inscripcion.OrientacionId.OrientacionId!=1) {%><li class="list-group-item"><b>Orientacion:</b> <%= inscripcion.OrientacionId.OrientacionDesc %></li><% } %>
                      <input type="hidden" name="orientacionId" value="<%= inscripcion.OrientacionId.OrientacionId %>">
                      <% if (inscripcion.OpcionId.OpcionId!=1) {%><li class="list-group-item"><b>Opcion:</b> <%= inscripcion.OpcionId.OpcionDesc %></li><% } %>
                      <input type="hidden" name="opcionId" value="<%= inscripcion.OpcionId.OpcionId %>">
                      <li class="list-group-item"><b>Turno:</b> <%= turnosDesc[inscripcion.InscriTurno] %></li>
                      <input type="hidden" name="turnoId" value="<%= inscripcion.InscriTurno %>">
                      <li class="list-group-item"><b>Estado de la inscripción:</b> <%= inscripcion.EstadosInscriId.EstadosInscriDesc %></li>
                    </ul>
                  <% } %>
                <% }) %>
                </div>
              </div>
          <% }) %>

        </div>
      </div>

      <% if (reserva && entrevista) { %>
      <div class="panel panel-default">
        <div class="panel-heading">Entrevista pendiente para confirmar solicitud de pase:</div>
        <div class="panel-body">
          <p>ATENCIÓN: Hay una entrevista agendada
             en el liceo <%= reserva.DependId.DependDesc %>
             para el <%= entrevista.FechaHora.fecha_toString() %>
             a las <%= entrevista.FechaHora.hora_toString() %>
           </p>
           <p>La documentación que debe llevar es:
             <ul>
               <li>Cédula de identidad del alumno</li>
               <li>Cédula de identidad del adulto</li>
             </ul>
           </p>
        </div>
      </div>
      <% } %>

      <button type="submit" class="btn btn-primary" id="btn-back" name="paso1"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Atrás</button>
      <% if (inscripciones[0].EstadosInscriId.EstadosInscriId != 1 && inscripciones[0].EstadosInscriId.EstadosInscriId != 4) {
           mensaje = "No puede solicitar pase hasta que la Oficina Reguladora asigne un liceo destino.";
         } else if (inscripciones[0].CicloId.CicloId != 1 /* && inscripciones[0].GradoId.GradoId != 4 */) {
           mensaje = "Si desea solicitar pase debe hacerlo en su liceo actual";
         } else if (reserva && entrevista) {
           mensaje = "";
      -%>
      <a class="btn btn-primary" href="comprobante">Ver comprobante de la solicitud <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
      <% } else {
           mensaje = "";
      -%>
      <button type="submit" class="btn btn-primary" id="btn-paso3">Solicitar cambio de liceo <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
      <% } %>
    </form>

    <% } %>

    <div class="alert alert-danger" id="mensaje" style="display:none"></div>
    <script type="text/javascript">
    textoMensaje="<% if (typeof mensaje !== 'undefined') { %><%- mensaje %><% } %>";
    </script>

    <% if (typeof inscripciones === 'undefined') { %>
    <button type="submit" class="btn btn-primary" id="btn-back" name="paso1"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Atrás</button>
    <% } %>

  </div>
</div>
