<% function ruee(dependId) {
  var deptoId = Math.floor(dependId/100);
  // paso el depto a la codificación que usa CODICEN
  deptoId = (deptoId<10 ? deptoId+1 : (deptoId>10 ? deptoId : 1));
  // calculo el ruee
  return 1200000 + deptoId*1000 + dependId%100;
} %>

<div id="paso4" class="paso">
  <div id="content">

    <h2>Solicitar cambio de liceo</h2>


      <% if (typeof liceos !== "undefined") { %>
      <div class="panel panel-default">
        <div class="panel-heading">Liceos con cupos disponibles: </div>
        <div class="panel-body">

          <% liceos.forEach(function(liceo) { %>
          <div class="media">
            <div class="media-left hidden-xs hidden-sm">
                <div class="passepartout">
                  <img class="media-object img-liceo" data="<%= liceo.DependId %>" alt="<%= liceo.DependDesc %>" height="265">
                </div>
            </div>
            <div class="media-body">
              <ul class="list-group">
                <li class="list-group-item">
                  <h4 class="media-heading"><b>Liceo</b>:
                    <div class="bloque">
                      <%= liceo.DependDesc %>
                      <% if (liceo.DependNom) {%><br><%= liceo.DependNom %><% } %>
                    </div>
                  </h4>
                </li>
                <li class="list-group-item">
                  <b>Dirección:</b>
                  <div class="bloque">
                    <%= liceo.LugarDireccion %><br>
                    <%= liceo.LocNombre %>, <%= liceo.DeptoNombre %>
                  </div>
                  <a class="mapa" target="_blank" href="https://sig.anep.edu.uy/SIGANEP/Home/Index?OpcionP=1&factor=10&ruee=<%= ruee(liceo.DependId) %>"><span class="glyphicon glyphicon-map-marker"></span> Ver mapa</a>
                </li>
                <li class="list-group-item">
                  <b>Estadísticas:</b>
                  <a target="_blank" href="http://servicios.ces.edu.uy/monitorces/servlet/fichaliceo?L,<%= liceo.DependId %>">Monitor educativo</a>
                </li>
                <% if (liceo.transportes) { %>
                <li class="list-group-item">
                  <b>Líneas de transporte:</b>
                  <div class="bloque">
                    <%= liceo.transportes %>
                  </div>
                </li>
                <% } %>
              </ul>
              <form method="post" id="frm-paso4" action='paso5'>
                <input type="hidden" name="dependId-destino" value="<%= liceo.DependId %>">
                <button type="submit" class="btn btn-primary" id="btn-paso4">Solicitar entrevista <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
              </form>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
      <% } %>

      <div class="alert alert-danger" id="mensaje" style="display:none"></div>
      <script type="text/javascript">
        textoMensaje='<% if (typeof mensaje !== 'undefined') { %><%- mensaje %><% } %>'
      </script>

      <button type="submit" class="btn btn-primary" id="btn-back" name="paso3"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Atrás</button>
      <form method="post" id="frm-sinCupo" action='sinCupo' style="display:inline">
        <button type="submit" class="btn btn-primary" id="btn-sinCupo">Solicitar pase a un liceo sin cupo libre <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>
      </form>

  </div>
</div>
