<div id="paso5" class="paso">
  <div id="content">

    <h2>Solicitar entrevista en el nuevo liceo</h2>

    <div class="panel panel-default">
      <div class="panel-heading">Liceo seleccionado: </div>
      <div class="panel-body">

        <%- partial ('liceo.ejs') %>

      </div>
    </div>

    <form method="post" id="frm-paso5" action='paso6'>

      <div class="panel panel-default">
        <div class="panel-heading">Fecha y hora de la entrevista: </div>
        <div class="panel-body">

          <input type="hidden" id='DependId' value="<%= destinoId %>">

          <table>
            <tr><td>
              <label>Fecha</label>:
            </td><td>
              <input type="text" id="Fecha" name="Fecha" data-provide="datepicker-inline" value="<%= fecha %>">

            </td></tr><tr><td>

              <label>Hora</label>:
            </td><td>
              <div class="btn-group">
                <input type="hidden" name="Hora" value="<%= hora %>" id="dd-hora">
                <button type="button" id="btn-dd-hora" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  ---
                </button>
                <ul class="dropdown-menu" dd="hora" id="ul-dd-hora">
                  <!-- se carga por ajax -->
                </ul>
              </div>
            </td></tr>
          </table>

        </div>
      </div>

      <div class="alert alert-danger" id="mensaje" style="display:none"></div>
      <script type="text/javascript">
        textoMensaje='<% if (typeof mensaje!=='undefined') { %><%- mensaje %><% } %>'
      </script>

      <button type="submit" class="btn btn-primary" id="btn-back" name="paso4"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Atrás</button>
      <button type="submit" class="btn btn-primary disabled" id="btn-paso6">Agendar entrevista <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>

    </form>
  </div>
</div>
