<div id="paso5" class="paso">
  <div id="content">

    <h2>Entrevista para confirmar inscripción en el nuevo liceo</h2>

    <div class="panel panel-default">
      <div class="panel-heading">Liceo seleccionado: </div>
      <div class="panel-body">

        <%- partial ('liceo.ejs') %>

      </div>
    </div>

    <form method="post" id="frm-paso5" action='paso6'>

      <%- partial("adulto.ejs") %>

      <div class="panel panel-default">
        <div class="panel-heading">Fecha y hora de la entrevista:</div>
        <div class="panel-body form-horizontal">

          <input type="hidden" id='DependId' value="<%= destinoId %>">

          <div class="form-group">
            <label class="col-sm-2 control-label">Fecha:</label>
            <div class="col-sm-2">
              <input type="text" id="Fecha" name="Fecha" placeholder="Ingrese la fecha" data-provide="datepicker-inline" value="<%= fecha %>">
            </div>
          </div>

          <div class="form-group">
            <label class="col-sm-2 control-label">Hora:</label>

            <div class="btn-group col-sm-2">
              <input type="hidden" name="Hora" value="<%= hora %>" id="dd-hora">
              <button type="button" id="btn-dd-hora" class="btn btn-default dropdown-toggle disabled" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ---
              </button>
              <ul class="dropdown-menu" dd="hora" id="ul-dd-hora">
                <!-- se carga por ajax -->
              </ul>
            </div>
          </div>

        </div>
      </div>

      <div class="alert alert-danger" id="mensaje" style="display:none"></div>
      <script type="text/javascript">
        textoMensaje='<% if (typeof mensaje !== 'undefined') { %><%- mensaje %><% } %>'
      </script>

      <button type="submit" class="btn btn-primary" id="btn-back" name="paso4"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Atrás</button>
      <button type="submit" class="btn btn-primary" id="btn-paso6">Agendar entrevista <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></button>

    </form>
  </div>
</div>
